/*====== GOOGLE FONTS ======*/
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
  :root {
  --header-height: 3.5rem;

  /*====== Colors =====*/

  /*
    Color moe HSL(Hue, saturation, lightness)

    Change favorite color:

    Default Cyan: hsl(180, 80%, 48%)
    Blue: hsl(220, 90% 64%) - Pink: hsl(300, 70%, 64%)
    Green: hsl(110, 70%, 64%) - Purple: hsl(255, 70%, 64%)
    Orange: hsl(15, 80%, 64%) - Red: hsl(358, 80%, 64%)

    For more color visit: https://htmlcolorcodes.com/
    -> Choose any color
    -> Copy the color mode (HSL)
  */
  --hue: 180;
  --first-color: hsl(var(--hue), 80%, 48%);
  --first-color-alt: hsl(var(--hue), 80%, 44%);
  --white-color: hsl(var(--hue), 8%, 92%);
  --black-color: hsl(var(--hue), 4%, 8%);
  --gray-color: hsl(var(--hue), 4%, 50%);
  --body-color: hsl(var(--hue), 8%, 8%);
  --container-color: hsl(var(--hue), 8%, 12%);

  /*==== FONT AND TYPOGRAPHY ===*/
  --body-font: "Unbounded", sans-serif;
  --bigger-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --noremal-font-size: .938rem;
  --small-font-size: .813rem;

  /*===== FONT WEIGHT =====*/
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*=== Z INDEX ===*/
  --z-tooltip: 10;
  --z-fixed: 100;

}

/*===== RESPONSIVE TYPOGRAPHY =====*/
@media screen and (min-width: 1150px){
  :root {
    --bigger-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --norem-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*==== BASE ====*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font: var(--font-light) var(--noremal-font-size) var(--body-font)
}

body {
  background-color: hsl(0, 8%, 8%);
  color: var(--white-color);
}

button {
  outline: none;
  border: none;
}

h1, h2, h3, h4 {
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a{
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*===== REUSABLE CSS CLASSES ====*/

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem, 1rem;
}

.section-title{
  text-align: center;
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.main {
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: box-shadow .4s;
}
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav-logo:hover {
  color: var(--first-color);

}

.nav-toggle,
.nav-close {
  font-size: 1.5rem;
  cursor: pointer;
}

/* NAVIGATION FOR MOVBILE DEVICES*/

@media screen and (max-width: 1150px){
  .nav-menu {
    position: fixed;
    top: -120%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    box-shadow: 0 8px 16px hsla(0, 0%, 0%, .5);
    padding-block: 5rem 4rem;
    transition: top .4s;
  }
}

.nav-list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.nav-link {
  position: relative;
  color: var(--white-color);
  font-weight: var(--font-medium);
  transform: color .4s, width .4s;
}

.nav-link::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--first-color);
  position: absolute;
  left: 0;
  bottom: -.5rem;
  transition: width .4s;
}

.nav-link:hover{
  color: var(--first-color);
}

.nav-link:hover::after{
  width: 100%;
}

.nav-close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}
/*SHOW MENU*/
.show-menu {
  top: 0;
}

/*====== ADD SHADOW HEADER ======*/
.shadow-header {
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.6);
}

/*===== ACTIVE LINK ======*/
.active-link::after {
  width: 60%;
}

/*====== HOME ======*/
.home-container {
  row-gap: 4rem;
  padding-block: 2.5rem 2rem;
  margin-top: 2rem;
}

.home-content {
  position: relative;
  justify-self: center;
}

.home-image {
  width: 240px;
  height: 240px;
  background-color: #ffffff;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: 5px solid var(--first-color);
  box-shadow: 0 8px 32px hsla(var(--hue), 80%, 48%, .3);
}

.home-image {
  width: 250px;
  filter: drop-shadow(0 4px 16px hsla(0, 0%, 0%, .2));
}

.home-social {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2.5rem;
  display: grid;
  align-content: center;
  row-gap: 1.5rem;
}

.home-link {
  color: var(--white-color);
  font-size: 2rem;
  transition: transform .4s color .4s;
}

.home-link:hover {
  transform: translateY(-.25rem);
  color: var(--first-color);
}

.home-data {
  text-align: center;
  row-gap: 1rem;
}

.home-subtitle span {
  color: var(--first-color);
}

.home-title {
  font-size: var(--bigger-font-size);
  color: var(--first-color);
  animation: lights 5s 750ms linear infinite;
}
@keyframes lights {

  0% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
  30% { 
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  40% { 
    color: hsl(230, 100%, 95%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }
  
  70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
}

.home-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  justify-content: center;
  margin-top: 1rem;
}

/*===== BUTTON ======*/
.button {
  display: inline-flex;
  justify-content: center;
  background-color: var(--first-color);
  color: var(--black-color);
  font-weight: var(--font-medium);
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  transition: box-shadow .4s, color, .4s;
}
.button:hover {
  box-shadow: 0 8px 24px hsla(var(--hue), 80%, 48%, .3);
}
.button-ghost {
  background-color: var(--body-color);
  color: var(--white-color);
  border: 2px solid var(--first-color);
}
.button-ghost:hover {
  color: var(--first-color);
}

/*====== ABOUT =====*/
.about-container {
  row-gap: 4rem;
}
.about-content {
  display: grid;
  row-gap: 3rem;
}

.about-data {
  text-align: center;
}

.about-description {
  margin-bottom: 3rem;
}
.about-subtitle {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--h3-font-size);
  color: var(--first-color);
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.about-subtitle i{
  font-size: 1.5rem;
  font-weight: initial;
}

.about-items{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .5rem;
}

.about-item {
  background-color: var(--first-color);
  padding: .5rem .75rem;
  border-radius: 2rem;
  color: var(--black-color);
  font-weight: var(--font-regular);
  border: 2px solid var(--body-color);
  cursor: default;
  transition: background-color .4s, color 4s, border-color, .4s;
}
.about-item:hover {
  background-color: var(--body-color);
  color: var(--white-color);
  border-color: var(--first-color);
}

.about-image {
  width: 340px;
  height: 340px;
  background-color: var(--white-color);
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  justify-self: center;
  box-shadow: 0 8px 32px hsla(var(--hue), 80%, 48%, .3);
}

.about-img{
  width: 230px;
  filter: drop-shadow(0 4px 16px hsla(0, 0%, 0%, .2));
}

/* ===== PROJECTS ===== */
.projects-container {
  row-gap: 2rem;
}
.project-card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 8px 16px hsla(0, 0%, 0%, .5);
  transition: box-shadow .4s;
}
.projects-data {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(var(--hue), 8%, 8%, .4);
  backdrop-filter: blur(16px);
  display: grid;
  place-content: center;
  row-gap: .5rem;
  text-align: center;
  padding: 0 1rem;
  border-radius: 1rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s;
}
.projects-title {
  font-size: var(--h3-font-size);
}
.projects-description {
  font-size: var(--small-font-size);
}
.projects-data .button {
  justify-self: center;
  background-color: hsla(var(--hue), 8%, 8%, .4);
  margin-top: .5rem;
}
.project-card:hover {
  box-shadow: 0 8px 16px hsla(var(--hue), 80%, 48%, .2);
}
.project-card:hover .projects-data {
  opacity: 1;
  pointer-events: initial;
}

/*===== RESUME =====*/
.resume-container {
  row-gap: 2rem;
}
.resume-content {
  row-gap: 1rem;
}
.resume-subtitle {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--h3-font-size);
  color: var(--first-color);
}
.resume-subtitle i {
  font-size: 1.5rem;
  font-weight: initial;
}

.resume-list {
  row-gap: 2rem;
}

.resume-data {
  display: grid;
  row-gap: .5rem;
}

.resume-title {
  font-size: var(--h3-font-size);
}

.resume-info {
  display: flex;
  column-gap: 1.5rem;
  font-size: var(--small-font-size);
  color: var(--gray-color);
}

.resume-info address {
  font-style: initial;
}

/*===== CONTACT =====*/
.contact-container {
  row-gap: 4rem;
}

.contact-form {
  position: relative;
  row-gap: 1rem;
}

.contact-input {
  width: 100%;
  background: var(--body-color);
  color: var(--white-color);
  border: 2px solid var(--first-color);
  outline: none;
  padding: 1.25rem 1rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
}

.contact-input::placeholder {
  color: var(--gray-color);
  transition:  color .4s;
}
.contact-input:focus::placeholder {
  color: var(--first-color);
}

.contact-input:autofill {
  transition: background-color 6000s, color 6000s;
}
.contact-area {
  height: 10rem;
  resize: none;
}

.contact-form .button {
  cursor: pointer;
}

.contact-message {
  position: absolute;
  bottom: -2rem;
  font-size: var(--small-font-size);
}

.contact-address {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  font-style: initial;
}

.contact-address i {
  font-size: 1.5rem;
  color: var(--first-color);
}

.contact-social {
  display: flex;
  column-gap: 1rem;
}

.contact-link {
  color: var(--white-color);
  font-size: 2rem;
  transition: transform .4s color .4s;
}
.contact-link:hover {
  transform: translateY(-.25rem);
  color: var(--first-color);
}

/*===== FOOTER =====*/
.footer {
  padding-block: 5rem 2rem;
}

.footer-container {
  row-gap: 2rem;
}

.footer-links,
.footer-social {
  display: flex;
  justify-content: center;
}

.footer-logo {
  color: var(--white-color);
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  justify-self: center;
  margin-bottom: 1rem;
  transition: color .4s;
}

.footer-logo:hover {
  color: var(--first-color);
}
.footer-links {
  column-gap: 2rem;
}

.footer-link {
  color: var(--white-color);
  transition: color .4s;
}

.footer-link:hover {
  color: var(--first-color);
}

.footer-social {
  column-gap: 1.5rem;
}

.footer-social-link {
  color: var(--white-color);
  font-size: 2rem;
  transition: transform .4s color .4s;
}

.footer-social-link:hover {
  transform: translateY(-.25rem);
  color: var(--first-color);
}

.footer-copy {
  display: block;
  text-align: center;
  font-size: var(--small-font-size);
  margin-top: 3rem;
  color: var(--gray-color);
}


/*===== SCROLL BAR =====*/
::-webkit-scrollbar{
  width: .6rem;
  background-color: hsl(0, 0%, 15%);
  border-radius: .5rem;
}
::-webkit-scrollbar-thumb{
  background-color: hsl(0, 0%, 25%);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
  background-color: hsl(0, 0%, 35%);
}


/*==== SCROLL UP =====*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--body-color);
  box-shadow: 0 4px 16px hsla(0, 0%, 0%, .5);
  display: inline;
  padding: 6px;
  color: var(--white-color);
  font-size: 1.25rem;
  border-radius: .25rem;
  z-index: var(--z-tooltip);
  transition: bottom .4s, transform .4s;
}

.scrollup:hover {
  transform: translateY(-.5rem);
}

/*===== SHOW SCROLL =====*/
.show-scroll {
  bottom: 3rem;
}

/*=====BREAKPOINTS======*/
@media screen and (max-width: 320px){
  .container{
    margin-inline: 1rem;
  }
}

/*===== FOR SMALL DEVICES =====*/
@media  screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }

  .home-image,
  .about-image {
    width: 200px;
    height: 200px;
  }

  .home-img,
  .about-img {
    width: 170px;
  }

  .projects-data {
    padding-inline: .5rem;
  }
  .projects-data .button {
    padding: .5rem .75rem;
  }
}

/*===== FOR MEDIUM DEVICES =====*/
@media screen and (min-width: 540px) {
  .home-container,
  .about-container,
  .project-container,
  .resume-container,
  .contact-container {
    grid-template-columns: 400px;
    justify-content: center;
  }
  
}

@media screen and (min-width: 768px) {
  .home-container,
  .about-container,
  .project-container {
    grid-template-columns: repeat(2, 450px);
    align-items: center;
  }
  .home-data,
  .about-data,
  .about-data .section-title {
    text-align: initial;
  }
  .home-buttons {
    justify-content: initial;
  }
  .project-container,
  .resume-container,
  .contact-container {
    grid-template-columns: repeat(2, 350px);
  }

  .contact-content {
    align-content: flex-start;
  }

  .contact-form {
    order: 1;
  }
}

/*===== FOR LARGE DEVICES =====*/
@media screen and (min-width: 1150px) {
  .container{
    margin-inline: auto;
  }

  .section {
    padding-block: 7rem 4rem;
    margin-bottom: 4rem;
  }

  .section-title{
    margin-bottom: 3rem;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
  }
  .nav-toggle,
  .nav-close{
    display: none;
  }
  .nav-list{
    flex-direction: row;
    column-gap: 4.5rem;
  }
  
  .home-container {
    grid-template-columns: 400px 400px;
    column-gap: 7rem;
    padding-block: 8rem 3rem;
  }
  
  .home-image {
    width: 400px;
    height: 400px;
    border: width 8px;;
  }

  .home-img {
    width: 350px;
  }

  .home-social {
    left: -4rem;
  }
  .home-data {
    row-gap: 1.5rem;
  }
  .home-buttons {
    margin-top: 1rem;
    column-gap: 1.5rem;
  }
  .button {
    margin-top: .5rem;
    column-gap: 1.5rem;
  }
  .about-section {
    padding-block: 6rem 2rem;
  }

  .about-container {
    grid-template-columns: 540px 400px;
    column-gap: 6rem;
    padding-block: 5rem 3rem;
  }
  .about-content {
    row-gap: 1.5rem;
  }
  .about-data .section-title {
    margin-bottom: 1.5rem;
  }
  .about-image {
    width: 450px;
    height: 450px;
    border-radius: 1.5rem;
  }
  .about-img {
    width: 400px;
  }

  .projects-section {
    padding-block: 6rem 4rem;
  }
  .project-container {
    grid-template-columns: repeat(3, 350px);
    gap: 3rem 2rem;
  }
  .projects-data .button {
    margin-top: 1rem;
  }

  .resume-section{
    padding-block: 7rem 4rem;
  }
  
  .resume-container {
    grid-template-columns: repeat(2, 465px);
    column-gap: 7rem;
  }
  .resume-content {
    row-gap: 1rem;
  }

  .resume-list {
    row-gap: 3rem;
  }

  .contact {
    padding-block: 7rem 4rem;
  }

  .contact-container {
    grid-template-columns: 310px 450px;
    column-gap: 10rem;
  }

  .contact-content {
    row-gap: 2rem;
  }

  .contact-data {
    row-gap: 1.5rem;
  }

  .contact-form .button{
    justify-self: center;
    margin-top: 1rem;
  }
  .contact-area {
    height: 14rem;
  }

  .footer-container {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    
  }
  .footer-logo {
    font-size: var(--h2-font-size);
    justify-self: flex-start;
    margin-bottom: 0;
  }
  .footer-links {
    column-gap: 3rem;
  }

  .footer-social {
    justify-self: flex-end;
  }

  .scrollup {
    right: 3rem;
  }
}

/* === FOR 2K RESOLUTION (2048 x 1152 X 2048 x 1536 === */

@media screen and (min-width: 2048px) {
  body {
    zoom: 1.2;
  }
}
